{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{! <style>
  h1 { color: black; }
</style> }}

<section class='p-5 box'>
  <h1 style='color: yellow'>USB хаб Type C 12 в 1 HDMI VGA
    AUX 3.5 mm</h1>
  <h2>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
  <h1 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <button
    type='button'
    class='btn btn-primary'
  >Купити</button>

  <button
    type='button'
    class='btn btn-primary'
  >Купити</button>

  <button type='button' class='button'>Купити</button>

  <p class='user'>Link</p>

</section>

<section>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p class='user'>Link</p>
  <strong>Strong</strong>
  <em>EMEMEM</em>
  <div>
    <p>Link</p>
  </div>

</section>

<footer class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p class='user user-last'>Link</p>

  <p class='user'>
    <em>Test EM</em>
  </p>

  <div>
    <div>
      <em>Test EM</em>
    </div>
  </div>

  <em class='child'>TEST EM</em>
  <div class='child'>TEST DIV</div>

</footer>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}