<main class='m-5'>
  <div class='first-card p-5'>
    <div class='card p-5'>
      <p>
        Hello world!
      </p>
      <span>RGBA</span>
    </div>
  </div>

  <div class='second-card p-5'>
    <div class='card p-5'>
      <p>
        Hello world!
      </p>
    </div>
  </div>

  <div class='third-card p-5'>
    <div class='card p-5'>
      <p id='test'>
        Hello world!
      </p>
    </div>
  </div>

  <div class='four-card p-5'>
    <div class='card p-5'>
      <p>
        Hello world!
      </p>
      <p>
        JUSTIFY
      </p>
    </div>
  </div>

  <div class='five-card p-5'>
    <div class='card p-5'>
      <pre>Hello world! sdffd</pre>
      <div>
        <p class='tdl'>
          Text Decoration Line
        </p>
      </div>

      <div>
        <p class='lts'>
          Text Decoration Line
        </p>
      </div>
    </div>

  </div>

  <span class='test'>TEST</span>

  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div
    style='margin: 50px 0px 50px 100px; background: grey;'
  >
    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>

    <span class='block'>Inline-Block</span>
  </div>

  <div>Block</div>

</main>