:root {
  background: purple;
}

html {
  max-width: 720px;

  background: blue;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color: green;
}

/* клас */
.box {
  background: #cfcfcf;
}

#user,
.user {
  color: blue;
}

/* id */
#box > p {
  color: paleturquoise;
}

/* клас */
.user-last {
  color: palevioletred;
}

h1,
h2#user,
button {
  color: green;
}

/* клас */
.button {
  background: red;
  color: black;
}
button.button {
  background: violet;
  color: black;
}

/* div  має в середині тег <p> - дщчірній тег  */
div > p {
  color: palegoldenrod;
}

footer > h1 {
  color: greenyellow;
}

/* тег <em> нащадок */
footer em {
  color: rgb(14, 83, 34);
}

footer .child {
  color: rgb(117, 17, 117);
}

/* всі класи child в середині тегу <em> та <div> в footer будуть мати такий колір*/
footer em.child,
footer div.child {
  color: rgb(192, 21, 35);
}

/* сестринський селектор */
h1 + p {
  background: orange;
}

/* сусідський селектор */
h1 ~ p,
h1 ~ div > p,
h1 ~ * > p {
  background: brown;
}
